body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
	margin:0 0 .5em 0;
}

a {
  color: #00B7FF;
}

#root {
	padding-left:20%;
	width:60%;
	position:relative;

}

.userList {
	margin:0 0 30px 0;
	background-color:#FFFFFF;
	display:inline;
}
	.userList table {
		border-collapse:separate;
		border-spacing:1px;
		background:#CCC;
	}
		.userList table th {
			background:#EEE;
			font-weight:600;
			padding:10px 20px;
			text-align:center;
		}
		.userList table tbody {
			padding:0; margin:0;
			border-collapse:collapse;
			border-spacing:0px;
		}
			.userList table td {
				background:#FFF;
				padding:5px 10px;
				text-align:center;
			}

.userInfo {
	width:250px;
	position:relative;
	top:0; left:0;
	display:inline;
}
	.userInfo p {
		padding:15px;
		border:1px solid #CCC;
		background:rgba(80,120,255,0.05);
	}

fieldset {
	border:0;
	padding:0; margin:0;
}